/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './dist/variables.css';

*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: 400;
}

body{
  background:  #E3E9FF;
}

ul{
  list-style: none;
}

/* Classes */
.container{
  width: 300px;
  margin: 50px auto;
}

input:focus, button {
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
